@import "tailwindcss";

:root {
  --background: #161616;
  --foreground: #ffffff;
  --muted: rgba(255, 255, 255, 0.8);
  --card: #ffffff;
  --card-foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
